
.credit-container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-image: url("../img/night2.jpg");
  background-size: cover;
  overflow: hidden;
  padding-top: 50px;
}

#credits-avatar {
  max-width: 200px;
  height: 200px;
}

.credit-container h1 {
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-size: 40px;
  margin: auto;
}

.credit-container h2 {
  text-align: center;
}

.credit-sep {
  display: block;
  margin: auto;
  width: 160px;
  height: 3px;
  background: #2ecc71;
  margin-bottom: 40px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.credit-devs {
  margin-bottom: 40px;
  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 0.3s;
  animation-delay: 0.1s;
}

.credit-devs a {
  display: inline-block;
  margin: 0 30px;
  width: 160px;
  height: 160px;
  overflow: hidden;
  border-radius: 50%;
}

.credit-devs a img {
  widows: 100%;
  filter: grayscale(100%);
  transition: 0.4s all;
}

.credit-devs a:hover > img {
  filter: none;
  transform: scale(1.25);
}

.credits-desc {
  width: 600px;
  margin: auto;
  font-size: 20px;
  color: white;
  text-align: justify;
  height: 0;
  overflow: hidden;
}

.credits-desc:target {
  height: auto;
  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 0.2s;
  animation-delay: 0.1s;
}

.credits-name {
  display: block;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
}

#credits-head {
  color: white;
  width: 22.5%;
  margin: auto;
  font-size: 43px;
}
#credits-watch {
  color: #00c853;
}
#credits-aboutus {
  color: #f39c12;
  font-size: 20px;
}
