#App {
  overflow: hidden;
}

.Container {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.topWrapper {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-image: url("img/night2.jpg");
  background-size: cover;
  overflow: hidden;
}

#head {
  color: white;
  width: 9em;
  position: absolute;
  top: 3.3em;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 43px;
}
#watch {
  color: #00c853;
}

#input {
  height: 3.9%;
  width: 32em;
  position: absolute;
  top: 13em;
  left: 0;
  right: 0;
  margin: auto;
  background-color: white;
  color: black;
  font-size: 17px;
  border-radius: 17px;
  text-indent: 5%;
  padding: 3px;
  outline-width: 0;
}

#tagLine {
  color: white;
  font-size: 21px;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 13.5em;
  left: 0;
  right: 0;
  margin: auto;
}

#bottom {
  color: white;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 8%;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 17px;
}

footer {
  background-color: #070707;
  height: 15vh;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  font-size: 20px;
  padding-top: 2em;
  position: relative;
  bottom: 0;
}

.mainBackground {
  background: rgb(4, 47, 78);
}
.mainColor {
  color: rgba(255, 255, 255, 0.87);
}
.App {
  width: 100vw;
  height: 100vh;
  padding: 0px;
  margin: 0px;
  display: grid;
  grid-template-columns: 230px 1fr;
  grid-template-rows: 1fr;
  overflow: hidden;
}

.SideMenu {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 6fr 3fr;
  padding: 20px 10px;
  text-align: center;
}
.logo {
  float: left;
  text-decoration: none;
  text-align: center;
  color: rgba(255, 255, 255, 0.87);
  font-size: 35px;
  line-height: 25px;
}
#watchPart {
  color: lawngreen;
}
.dropDownMenu {
  width: 200px;
}

.linksDiv {
  align-self: end;
}
#loading {
  text-align: center;
  padding-top: 10%;
}
#loading2 {
  text-align: center;
  padding-top: 25%;
}

.mainDiv {
  margin: 0px;
  padding: 0px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 8fr;
  overflow-x: hidden;
}
#productList{
  display: grid;
  grid-template-rows: repeat(5fr);
  overflow-y: scroll;
}
/* #searchDiv {
  height: 30px;
  padding: 10px;
  text-align: center;
} */
.Searchbar{
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
}
#inputDiv{
  display: flex;
  justify-content: center;
  align-items: center;
}
#searchForm{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#iconDiv{
  display: none;
}
#input2 {
  height: 80%;
  width: 90%;
  background-color: white;
  color: black;
  font-size: 17px;
  border-radius: 13px;
  text-indent: 5%;
  padding: 3px;
  outline-width: 0;
}
@media only screen and (max-width: 768px) {
  #iconDiv{
    display: block;
  }
  .Searchbar{
    grid-template-columns: 1fr 13fr;
  }
  .SideMenu{
    display: none;
  }
  .App{
    grid-template-columns: 1fr;
  }
}
.ProductDiv {
  display: grid;
  grid-template-columns: 1fr 4fr;
  min-height: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 20px;
  transition: 0.3s;
}
.ProductDiv:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.imgDiv {
  padding: 10px;
}
#productImg {
  max-width: 100%;
  max-height: 100%;
}
.infoDiv {
  padding: 10px;
}
#price {
  color: #00c853;
  font-size: 20px;
}
#bookName {
  font-size: 25px;
}
#author {
  font-size: 20px;
}
/*.SideMenu{
    position: fixed;
    height:100%;
    width: 15%;
    margin:0px;
    padding:20px 10px;
    text-align: center;
 }
 
 .mainDiv{
     width: 85%;
     height: 100%;
     margin: 0px;
     padding: 0px;
     position: fixed;
     left: 17%;
     top: 0%;
 }
 .logo{
     float: left;
     text-decoration: none;
     text-align: center;
     color: rgba(255,255,255,0.87);
     font-size: 35px; 
     line-height: 25px;
 }
 */
#watchPart {
  color: #00c853;
}

#priceTag {
  color: #00c853;
  font-size: 40px;
}

#available {
  color: #00c853;
}
/*
 .filterDiv{
     position: absolute;
     top: 50px;
     font-size: 20px; 
     line-height: 25px;
     text-align: left;
     padding: 10px;
 }
 .dropDownMenu{
     width: 200px;
 }
 .linksDiv{
    position: absolute;
    bottom: 50px;
    font-size: 20px; 
    line-height: 25px;
    text-align: center;
    padding: 10px;
    width: 80%;
 }
 .linksDiv a{
    text-decoration: none;
    color: lawngreen;
    text-align: center;
 }
 .ProductDiv{
     width: 100%;
     margin: 0px;
 }
 .imgDiv{
     display: inline-block;
     width: 20%;
     height: 100%;
     margin: 0px;
     padding: 10px;
     text-align: center;
     float: left;
 }
 .infoDiv{
    display: inline-block;
    width: 70%;
    height: 100%;
    margin: 0px;
    padding: 10px;
    float: right;
}
#price{
    color: red;
    font-size: 20px;
}
#bookName{
    font-size: 25px;
}*/
#author {
  font-size: 20px;
}

.centerTotal {
  height: auto;
  padding: 20px 0px 20px 0px;
  width: 85%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 20px rgb(66, 66, 66);
  background-color: rgb(236, 239, 241);
}

.sellWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

/* This is not yours agz */
#centerTotal {
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  /* overflow-y: hidden; */
  height: 85vh;
  padding: 20px 0px 20px 0px;
  width: 85%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 20px rgb(66, 66, 66);
  background-color: rgb(236, 239, 241);
}

#button {
  position: absolute;
  right: 5%;
  top: 2em;
  padding: 6px;
  font-size: 18px;
  width: 5em;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  outline: none;
  transition-duration: 0.4s;
}

#button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#button:focus {
  outline: none;
  border: none;
}

.materialBlack {
  color: rgba(0, 0, 0, 0.87);
}

.appbar {
  background-color: rgb(33, 33, 33);
  position: sticky;
  top: 0px;
  width: 100vw;
  text-align: center;
  min-height: 9.3vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 15px rgb(66, 66, 66);
}

.info {
  font-size: 13px;
  padding: 0vw 5vw 0vw 5vw;
}

.backToButton {
  width: 100%;
  height: 5%;
}

.imageHolder {
  background-color: rgb(236, 239, 241);
  width: 25%;
  height: 75vh;
  position: absolute;
  top: 18%;
  left: 15%;
}

#textbook {
  display: block;
  width: 100%;
  height: auto;
}

.detailCard {
  background-color: white;
  width: 34%;
  height: 62%;
  position: absolute;
  top: 21%;
  right: 9%;
  float: left;
  border-radius: 2%;
  padding-left: 1.7em;
  padding-right: 1.7em;
  box-shadow: 2px 2px 20px rgb(66, 66, 66);
  background-color: rgb(236, 239, 241);
}

#textName {
  width: 100%;
  height: 12%;
  font-size: 22px;
  padding-top: 9px;
  margin-top: 1em;
}

#author {
  color: rgb(14, 99, 226);
  width: 100%;
  height: 6%;
  padding: 1px;
  font-size: 17px;
}

#amount {
  width: 100%;
  height: 17%;
  font-size: 27px;
  padding-top: 0.8em;
}

#realprice {
  margin-left: 8px;
}
#userprice {
  margin-left: 10px;
  font-size: 33px;
}

#details {
  position: absolute;
  color: #212121;
  float: left;
}

#sellerInfo {
  justify-content: center;
  position: absolute;
  top: 75%;
  left: 0;
  right: 1%;
  margin: auto;
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
  background-color: #00c853;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: white;
  width: 50%;
  border-radius: 1em;
  outline: none;
  border: none;
}

#sellerInfoCard {
  height: 69%;
  width: 40%;
  position: absolute;
  top: 18%;
  right: 7%;
  background-color: rgba(0, 0, 0, 0.92);
  color: white;
  font-size: 18px;
  line-height: 2.1em;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 0.5em;
}

#sellerInfoCard h2 {
  text-align: center;
}

#sellerInfoCard button {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 9%;
  margin: auto;
  border-radius: 1em;
  width: 20%;
  padding: 3px;
  font-size: 18px;
  outline: none;
}

#sellerInfoCard button:hover {
  color: white;
}

.details {
  color: #212121;
}

#Container {
  overflow: scroll;
}

.chooseImageButton {
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
}

.hiddenFileInput {
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  opacity: 0;
}

/*Login */

#logout {
  box-sizing: border-box;
  position: absolute;
  top: 39%;
  left: 0;
  right: 0;
  margin: auto;
  width: 13em;
  height: 2.2em;
  text-align: center;
  font-size: 18px;
  background-color: #00c853b7;
  color: white;
  border: none;
  border-radius: 0.2em;
  white-space: nowrap;
  cursor: pointer;
}

#logoutAppBar {
  box-sizing: border-box;
  float: right;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 1em;
  text-align: center;
  height: 2em;
  width: 6em;
  font-size: 18px;
  background-color: #00c853b7;
  color: white;
  border: none;
  border-radius: 0.2em;
  white-space: nowrap;
  cursor: pointer;
}

#google-login {
  position: absolute;
  top: 39%;
  left: 0;
  right: 0;
  margin: auto;
  width: 13em;
  height: 2.2em;
  cursor: pointer;
}

#fb-login {
  position: absolute;
  top: 43%;
  left: 0;
  right: 0;
  margin: auto;
  width: 13em;
  margin-top: 1.5em;
  height: 2.2em;
}
.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #fff;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.1);
}

.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #dd4b39;
}
.loginBtn--google:before {
  border-right: #bb3f30 1px solid;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png")
    6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #e74b37;
}

.loginBtn--facebook {
  background-color: #4c69ba;
  background-image: linear-gradient(#4c69ba, #3b55a0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354c8c;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png")
    6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5b7bd5;
  background-image: linear-gradient(#5b7bd5, #4864b1);
}

@media only screen and (max-width: 768px) {
  .backToButton {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .logo {
    display: none;
  }
  #centerTotal{
    height: 180vh;
    width: 90%;
  }

  /*.imageHolder {
    height: 45%;
    width: 60%;
    left: 0%;
    top: 25%;
    right: 0;
    margin: auto;
  }*/

  .details {
    display: none;
  }

  .detailCard {
    top: 42%;
    width: 75%;
    height: 26em;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    align-content: center;
  }
  #author {
    font-size: 14px;
  }

  #amount {
    padding-top: 14px;
    margin-top: 8px;
    margin-bottom: -8px;
  }
  #productDetails {
    font-size: 15px;
  }
  #details {
    margin-top: 20px;
    font-size: 15px;
  }
  #textName {
    height: 18%;
    font-size: 20px;
  }

  #sellerInfo {
    width: 50%;
    position: absolute;
    top: 83%;
    left: 0;
    right: 0;
    margin: auto;
  }

  #sellerInfoCard {
    width: 90%;
    height: 26em;
    position: absolute;
    top: 27em;
    left: 0;
    right: 0;
    margin: auto;
  }
  #sellerInfoCard button {
    bottom: 6%;
    width: 35%;
  }

  .imageHolder {
    top: 5em;
    width: 80%;
    height: 20em;
    left: 0;
    right: 0;
    margin: auto;
  }
  footer {
    font-size: 17px;
  }
  #head {
    top: 4.8em;
    width: 9em;
    font-size: 37px;
  }
  #tagLine {
    width: 19em;
    top: 17.9em;
    font-size: 17px;
  }
  #bottom {
    width: 22em;
    font-size: 14px;
  }
  #input {
    top: 14.3em;
    width: 80%;
  }

  .mainBackground {
    height: 170vh;
  }
  .sellWrapper {
    height: 180vh;
  }
  .centerTotal {
    height: 180vh;
  }
}

.userInfoDiv {
  text-align: center;
  color: white;
  font-size: 1.2vw;
  overflow-x: hidden;
}
.profilePic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}